body {
  font-family: "Josefin Sans", sans-serif;
  background-color: lightslategray;
  background-repeat: no-repeat;
  margin-top: 50px;
}

#game-title {
  margin: 0 auto;
  margin-top: 3%;
}

h1 {
  text-align: center;
  color: mistyrose;
  margin-top: 1%;
  margin-bottom: 1%;
}

h2 {
  text-align: center;
  font-size: 1em;
  color: gainsboro;
  margin-bottom: 1%;
}

#background-layer {
  position: fixed;
  background: rgba(0, 200, 200, 0.7);
  background-image: linear-gradient(black, white);
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 672px;
  height: 480px;
  border: 2px solid black;
  z-index: 1;
}

#snow-layer {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 608px;
  height: 416px;
  z-index: 2;
  border: 2px solid black;
}

#game-layer {
  position: fixed;
  background: rgba(23, 200, 200, 0.2);
  top: 55%;
  left: 50%;
  transform: translate(-51%, -51%);
  width: 608px;
  height: 416px;
  border: 2px solid black;
  z-index: 3;
}
