body {
  font-family: "Josefin Sans", sans-serif;
  background-color: lightslategray;
  cursor: none;
}

#game-title {
  margin: 0 auto;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: mistyrose;
  margin-top: 1%;
  margin-bottom: 1%;
}

h2 {
  text-align: center;
  color: gainsboro;
  font-size: 1em;
}

.container {
  position: relative;
}

#background-layer {
  position: absolute;
  background: rgba(0, 200, 200, 0.7);
  background-image: linear-gradient(black, mistyrose);
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 672px;
  height: 480px;
  border: 2px solid black;
  z-index: 1;
}

#snow-layer {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 608px;
  height: 416px;
  z-index: 2;
  border: 2px solid black;
}

#game-layer {
  position: absolute;
  background: rgba(23, 200, 200, 0.2);
  top: 55%;
  left: 50%;
  transform: translate(-51%, -51%);
  width: 608px;
  height: 416px;
  border: 2px solid black;
  z-index: 3;
}

#restart {
  width: 100px;
  height: 100px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 50%;
  color: gainsboro;
  background-color: darkslategray;
  font-weight: 700;
  font-size: 1.2em;
  display: none;
  cursor: pointer;
  z-index: 4;
}

#gameover {
  width: auto;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: mistyrose;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  display: none;
  z-index: 4;
}
